<header class="header">
  <mat-toolbar class="header-navbar">
    <div class="navbar-title">
      <a [routerLink]="['/countries']">
        <span>Where in the World?</span>
      </a>
    </div>
    <div class="auth">
      <a [routerLink]="['/sign-in']">
        <button class="auth-btn" mat-icon-button>
          <span *ngIf="!isLogin">Sign out</span
          ><span *ngIf="isLogin">Sign in</span>
        </button>
      </a>
    </div>
    <div class="navbar-dark-mode">
      <button class="icon" mat-icon-button (click)="toggleDarkMode()">
        <mat-icon *ngIf="isDarkMode">light_mode</mat-icon>
        <span *ngIf="isDarkMode">Light Mode</span>
        <mat-icon *ngIf="!isDarkMode">nights_stay</mat-icon>
        <span *ngIf="!isDarkMode">Dark Mode</span>
      </button>
    </div>
  </mat-toolbar>
</header>
