.main-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 1px 18px 0 rgb(0 0 0 / 30%);
}

.main-header-logo {
  text-decoration: none;
}
.main-header-logo p {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2px;
}

.main-header-btns {
  display: flex;
}

.main-header-btns .mat-icon-button {
  width: auto;
  height: auto;
  flex-shrink: 0;
  border-radius: 50%;
  line-height: inherit;
}

.main-header-btns .header-btns {
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5%;
  box-shadow: 0 0 6px -3px #5f5d5d;
  line-height: inherit;
}

.main-header-btns .header-auth-btns {
  margin-right: 10px;
}
