<header class="main-header-container padding-container">
  <a class="main-header-logo" [routerLink]="['/', routes.COUNTRIES]">
    <p>Where in the World?</p>
  </a>

  <div class="main-header-btns">
    <a
      class="header-auth-btns header-btns"
      [routerLink]="['/', routes.AUTH, routes.SIGN_IN]"
    >
      <button mat-icon-button (click)="signOut()">
        <span *ngIf="isLogin">Sign out</span
        ><span *ngIf="!isLogin">Sign in</span>
      </button>
    </a>

    <button
      class="header-btns-mode header-btns"
      mat-icon-button
      (click)="toggleDarkMode()"
    >
      <mat-icon *ngIf="isDarkMode">light_mode</mat-icon>
      <span *ngIf="isDarkMode">Light Mode</span>
      <mat-icon *ngIf="!isDarkMode">nights_stay</mat-icon>
      <span *ngIf="!isDarkMode">Dark Mode</span>
    </button>
  </div>
</header>
