.card-country {
  max-width: 250px;
  height: 60vh;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
}
.card-country-img {
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.mat-card-content {
  padding: 20px;
}
.card-country-name {
  font-weight: bold;
}
.card-country a {
  text-decoration: none;
}
.card-country-details span {
  font-weight: bold;
}
.mat-card {
  padding: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-country .country-flag {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media only screen and (max-width: 860px) {
  .card-country {
    height: 35vh;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 860px) {
  .card-country {
    height: 60vh;
  }
}
