<ng-container *ngIf="country">
  <a [routerLink]="['/countries', country.name]" class="country-card-container">
    <div class="country-card-head">
      <img
        mat-card-md-image
        class="country-card-head__img"
        [src]="country.flag"
        [alt]="country.name"
      />
    </div>

    <div class="country-card-body">
      <mat-card-content>
        <h2 class="country-card-name">{{ country.name }}</h2>
        <ul class="country-card-details">
          <li class="country-card-details-items">
            <span>Population: </span>{{ country.population | number }}
          </li>
          <li class="country-card-details-items">
            <span>Region: </span> {{ country.region }}
          </li>
          <li class="country-card-details-items">
            <span>Capital: </span> {{ country.capital }}
          </li>
        </ul>
      </mat-card-content>
    </div>
  </a>
</ng-container>
