<ng-container *ngIf="country">
  <a
    [routerLink]="['/', routes.COUNTRIES, country.name]"
    class="country-card-container card-style"
  >
    <img
      mat-card-md-image
      class="country-card-head__img"
      [src]="country.flag"
      [alt]="country.name"
    />

    <div class="country-card-body">
      <mat-card-content>
        <h2 class="country-card-name">{{ country.name }}</h2>
        <div class="country-card-details">
          <h4 class="country-card-details-items">
            Population:
            <span> {{ country.population | number }} </span>
          </h4>
          <h4 class="country-card-details-items">
            Region:
            <span>{{ country.region }} </span>
          </h4>
          <h4 class="country-card-details-items">
            Capital:
            <span>{{ country.capital }} </span>
          </h4>
        </div>
      </mat-card-content>
    </div>
  </a>
</ng-container>
