.countries-container {
  padding-top: 20px;
}

.countries-container-filter {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.filter-search-input {
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.filter-search-icons {
  padding: 10px 15px 10px 20px;
}

.filter-search-input input {
  outline: none;
  border: none;
  padding: 10px 180px 10px 10px;
  font-size: 14px;
}

.region-select-container {
  position: relative;
  border-radius: 4px;
}

.region-select-container * {
  color: inherit;
}

.region-filter-base {
  cursor: pointer;
  display: flex;
  height: 100%;
}

.region-filter-input-field {
  flex: 1;
  padding: 1rem 0.85rem;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  max-width: 120px;
}

.region-filter-arrow {
  width: 2.3rem;
  padding: 0.85rem;
  transition: transform 0.3s ease-in-out;
}

.opened-arrow {
  transform: rotate(180deg);
}

.region-select-options-container {
  height: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 110%;
  overflow: hidden;
  background-color: inherit;
  border-radius: 4px;
  transition: height 0.3s ease-in-out;
  z-index: 9;
}

.region-select-option {
  height: 2.2rem;
  box-sizing: border-box;
  padding: 0 13px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.region-select-options-container.opened-select {
  height: calc(6 * 2.2rem);
}

.err {
  color: #ca3737;
  margin-left: 4%;
  font-size: 14px;
}

.mat-snack-bar-container {
  color: #ca3737;
}

@media (min-width: 1900px) {
  .countries-container-filter {
    margin-top: 70px;
    margin-bottom: 40px;
  }

  .filter-search-input input {
    padding: 15px 180px 15px 15px;
    font-size: 1.2rem;
  }
  .filter-search-input span {
    padding: 15px 0px 15px 15px;
  }
  .filter-select-container {
    padding: 8px;
    font-size: 1.2rem;
  }
  .filter-select-container .mat-select {
    padding: 15px 0px 15px 15px;
  }
}

@media (max-width: 1024px) {
  .countries-container-filter {
    flex-direction: row;
    margin-top: 8%;
    margin-bottom: 5%;
  }
  .filter-search-input {
    margin-bottom: 0;
  }
  .filter-search-input input {
    padding: 10px 60px 10px 10px;
  }
  .filter-select-container .mat-select {
    padding: 8px;
  }
}

@media (max-width: 770px) {
  .countries-container-filter {
    flex-direction: column;
    padding-right: 135px;
  }

  .filter-search-input {
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .countries-container-filter {
    padding-right: 30px;
  }

  .filter-search-input {
    margin-bottom: 30px;
  }

  .filter-search-input input {
    padding: 0;
  }
}
