.countries-container {
  padding-top: 20px;
}

.countries-container-filter {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.filter-search-input {
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.filter-search-icons {
  padding: 10px 15px 10px 20px;
}

.filter-search-input input {
  outline: none;
  border: none;
  padding: 10px 180px 10px 10px;
  font-size: 14px;
}

.filter-select-container {
  border-radius: 4px;
}
.filter-select-container {
  width: 200px;
  padding: 10px 10px 10px 20px;
}

.err {
  color: #ca3737;
  margin-left: 4%;
  font-size: 14px;
}

.mat-snack-bar-container {
  color: #ca3737;
}

@media (min-width: 1900px) {
  .countries-container-filter {
    margin-top: 70px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 620px) {
}
