<app-header></app-header>
<div class="countries-container padding-container">
  <form #f="ngForm" class="countries-container-filter">
    <div class="filter-search-input">
      <span class="material-icons filter-search-icons"> search </span>
      <input
        type="text"
        [ngModel]="countryName"
        placeholder="Search of a country..."
        aria-label="Country"
        (keyup)="onSearch($event)"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
        #inputField
      />

      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          (click)="updateCountryName(inputField.value)"
          *ngFor="let option of filteredOptions | async"
          [value]="option.countryName"
        >
          {{ option.countryName }}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="region-select-container">
      <div (click)="onToggleFilter()" class="region-filter-base">
        <input
          readonly
          [value]="selectedRegion"
          placeholder="Filter By Region"
          class="region-filter-input-field"
        />
        <img
          src="../../../assets/arrow-down-sign-to-navigate.svg"
          class="region-filter-arrow"
          [ngClass]="{ 'opened-arrow': openedFilter === true }"
        />
      </div>

      <div
        class="region-select-options-container"
        [ngClass]="{ 'opened-select': openedFilter === true }"
      >
        <div
          (click)="getCountryByNameAndRegion(region)"
          *ngFor="let region of regions"
          class="region-select-option"
          [ngClass]="{ active: region === selectedRegion }"
        >
          {{ region }}
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="err" class="err">
    <span>
      {{ err }}
    </span>
  </div>
  <mat-spinner *ngIf="isLoading" [mode]="mode"></mat-spinner>

  <countries-list
    *ngIf="!isLoading"
    [listCountries]="countries"
  ></countries-list>
</div>
