.page-not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.page-not-found-container-text {
  margin-top: 20px;
  font-size: 6rem;
  font-weight: bold;
}
.page-not-found-container-title {
  font-size: 1rem;
  margin-top: 20px;
  align-self: center;
}
