<app-header></app-header>
<div class="details-container padding-container">
  <div class="details-container-head">
    <button mat-raised-button class="back-btn" (click)="backToLastPage()">
      <mat-icon>arrow_back</mat-icon>
      <span>Back</span>
    </button>
  </div>
  <mat-spinner *ngIf="isLoading" [mode]="mode"></mat-spinner>
  <div class="no-data" *ngIf="!country.length && !isLoading">
    <h3>No Countries Found</h3>
  </div>
  <ng-container *ngIf="country && country.length > 0">
    <div *ngIf="!isLoading" class="details-container-body">
      <div class="left-details-content">
        <img [src]="country[0].flag" alt="country[0].name" class="flag" />
      </div>
      <div class="right-details-content">
        <h1 class="country-name">{{ country[0].name }}</h1>
        <div class="right-details-content__more-details">
          <div class="more-details-left details-sides">
            <h4>
              Native Name: <span>{{ country[0].nativeName }}</span>
            </h4>
            <h4>
              Population: <span>{{ country[0].population | number }}</span>
            </h4>
            <h4>
              Region: <span>{{ country[0].region }}</span>
            </h4>
            <h4>
              Sub Region: <span>{{ country[0].subregion }}</span>
            </h4>
            <h4>
              Capital: <span>{{ country[0].capital }}</span>
            </h4>
          </div>
          <div class="more-details-right details-sides">
            <h4>
              Top Level Domain: <span>{{ country[0].topLevelDomain }}</span>
            </h4>
            <h4>
              Currencies:
              <span *ngFor="let currencies of country[0].currencies">{{
                currencies.code
              }}</span>
            </h4>
            <h4>
              languages:
              <span>{{ languages }} </span>
            </h4>
          </div>
        </div>
        <div
          *ngIf="country[0].borders.length"
          class="right-details-content__border-countries"
        >
          <span class="border-countries_head">Border Countries:</span>
          <div class="border-countries_body">
            <a
              class="border-countries-btns"
              *ngFor="let border of country[0].borders"
              [routerLink]="['/countries', border]"
            >
              <button mat-raised-button>
                {{ border }}
              </button>
            </a>
          </div>
        </div>
        <div class="no-borders" *ngIf="country[0].borders.length === 0">
          <h3>No Borders Found</h3>
        </div>
      </div>
    </div>
  </ng-container>
</div>
