.details-container {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}

.back-btn {
  flex: 1;
  display: flex;
}

.back-btn .mat-raised-button {
  display: flex;
}
.back-btn .mat-raised-button .mat-icon {
  flex: 1;
  font-size: 16px;
  line-height: 22px;
  margin-left: 40%;
}
.back-btn .mat-raised-button span {
  flex: 1;
  font-size: 14px;
}

.mat-raised-button {
  border-radius: 5%;
  box-shadow: 0 0 6px -3px #5f5d5d;
  min-width: 120px;
  padding: 0;
}
img {
  max-width: 80%;
}

.mat-raised-button span {
  font-weight: 100;
  font-size: 14px;
}

.details-container-content {
  flex: 3;
  margin-top: 2%;
  display: flex;
}
.details-container-left {
  flex: 1;
}
.details-container-right {
  flex: 1;
  padding: 1%;
  display: flex;
  flex-direction: column;
}
.country-name {
  flex: 1;
  font-weight: bold;
  font-family: var(--main-font);
}
.more-details {
  flex: 3;
  display: flex;
}

.border-countries {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.more-left {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.more-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.border-countries span {
  flex: 1;
  font-weight: bold;
  font-size: 14px;
}

.border-btns {
  font-size: 14px;
  color: #535153;
  margin-right: 20%;
  box-shadow: 0 0 6px -3px #5f5d5d;
  font-family: var(--main-font);
}

.more-details h4 {
  flex: 1;
  font-weight: 600;
  font-family: var(--main-font);
}

.more-details span {
  font-weight: lighter;
  font-family: var(--main-font);
}

a {
  text-decoration: none;
  margin-left: 2%;
  margin-bottom: 2%;
}
.borders {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
}

.no-borders {
  margin-top: 2%;
  align-items: center;
}
.no-data {
  align-items: center;
}

@media only screen and (max-width: 770px) {
  .details-container-content {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .country-name {
    font-size: 35px;
  }

  .details-container-right h4 {
    font-size: 20px;
  }

  .mat-raised-button {
    font-size: 20px;
  }
  .mat-raised-button span {
    font-size: 20px;
  }
  .mat-raised-button .mat-icon {
    font-size: 18px;
  }

  .flag {
    display: block;
  }

  .more-details {
    flex-direction: row;
  }

  .more-details h4 {
    margin-bottom: 6px;
  }

  .borders {
    display: flex;
    flex-wrap: wrap;
  }
  .border-countries {
    flex-direction: column;
    justify-content: space-between;
  }
  .border-countries span {
    margin-top: 3%;
    font-weight: bold;
    font-size: 20px;
  }

  .no-data {
    margin-left: 25%;
    margin-top: 25%;
  }
  .borders .border-btns {
    font-size: 14px;
  }

  a {
    margin-right: 2%;
  }
}

@media only screen and (max-width: 500px) {
  .details-container-content {
    display: flex;
    flex-direction: column;
  }

  .country-name {
    font-size: 20px;
  }
  .mat-raised-button {
    font-size: 13px;
  }

  .mat-raised-button span {
    font-size: 14px;
  }
  .mat-raised-button .mat-icon {
    font-size: 14px;
    margin-left: 0;
  }

  .details-container-right {
    padding: 9%;
    display: flex;
    flex-direction: column;
  }

  .more-details {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .more-details h4 {
    margin-bottom: 6px;
  }
  .more-left {
    flex-direction: column;
    margin-bottom: 6%;
  }
  .more-right {
    flex-direction: column;
  }

  .details-container-right h4 {
    font-size: 14px;
  }
  .borders {
    margin-top: 5%;
    flex-wrap: wrap;
  }
  .border-countries {
    margin-top: 2%;
    flex-direction: column;
    justify-content: space-between;
  }
  .border-countries span {
    font-size: 14px;
    font-weight: 600;
  }
  .border-btns {
    margin-bottom: 5%;
  }

  .no-data {
    margin-left: 25%;
    margin-top: 25%;
  }
}
