.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 45px;
}

.details-container-head .back-btn {
  display: flex;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
  justify-content: space-between;
}

.details-container-head .back-btn .mat-icon {
  font-size: 1.2rem;
  justify-self: center;
  height: auto;
  width: auto;
  margin-right: 5px;
}

.details-container-head .back-btn span {
  margin-right: 8px;
}
.no-data {
  margin-top: 10%;
  align-self: center;
}
.no-data h3 {
  font-size: 1.5rem;
  font-family: var(--main-font);
}
.details-container-body {
  display: flex;
}
.left-details-content {
  flex: 1;
  display: flex;
  padding-top: 40px;
}

.left-details-content .flag {
  max-height: 55vh;
  max-width: 490px;
  flex: 1;
}
.right-details-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 50px;
}
.right-details-content .country-name {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0;
}
.right-details-content__more-details {
  display: flex;
  justify-content: space-between;
}
.right-details-content__more-details h4 {
  margin-bottom: 5px;
  font-weight: 600;
}
.right-details-content__more-details h4 span {
  font-weight: 400;
}
.right-details-content__border-countries {
  display: flex;
}
.border-countries_body {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.border-countries_body .border-countries-btns {
  display: flex;
  text-decoration: none;
}
.border-countries_body .border-countries-btns .mat-raised-button {
  flex: 1;
  padding: 0;
  width: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.right-details-content__border-countries .border-countries_head {
  font-size: 0.9rem;
  font-weight: 600;
}

@media (min-width: 1900px) {
  .details-container {
    padding-top: 110px;
  }
  .details-container-head .back-btn {
    padding: 10px 50px;
  }

  .details-container-head .back-btn .mat-icon {
    font-size: 1.5rem;
  }
  .details-container-head .back-btn span {
    font-size: 1.2rem;
  }
  .no-data {
    margin-top: 20%;
  }

  .no-data h3 {
    font-size: 2rem;
  }
  .details-container-body {
    flex-direction: row;
    min-height: 45vh;
  }
  .left-details-content {
    max-height: 45vh;
    max-width: 640px;
    display: flex;
  }
  .left-details-content .flag {
    flex: 1;
    max-width: 640px;
  }
  .right-details-content {
    padding-left: 80px;
  }
  .right-details-content__more-details {
    flex-direction: row;
    justify-content: initial;
  }

  .right-details-content .country-name {
    font-size: 2.4rem;
  }

  .right-details-content__more-details h4 {
    font-size: 1.4rem;
  }
  .right-details-content__more-details h4 span {
    font-size: 1.4rem;
  }

  .more-details-right {
    padding-left: 50px;
  }

  .right-details-content__more-details .details-sides {
    padding-top: 30px;
  }
  .right-details-content__border-countries {
    padding-top: 30px;
  }
  .right-details-content__border-countries .border-countries_head {
    padding-right: 20px;
    font-size: 1.4rem;
    font-weight: 700;
  }
}

@media (max-width: 1200px) {
  .details-container {
    padding-top: 70px;
  }

  .no-data {
    margin-top: 40%;
  }

  .no-data h3 {
    font-size: 1.8rem;
  }

  .details-container-body {
    flex-direction: column;
  }
  .left-details-content {
    max-height: 40vh;
    flex: 1;
  }
  .left-details-content .flag {
    max-width: 600px;
  }
  .right-details-content__more-details {
    flex-direction: row;
    justify-content: initial;
  }

  .right-details-content .country-name {
    font-size: 2rem;
  }

  .right-details-content__more-details h4 {
    font-size: 1.2rem;
  }
  .right-details-content__more-details h4 span {
    font-size: 1.2rem;
  }

  .more-details-right {
    padding-left: 50px;
  }

  .right-details-content__more-details .details-sides {
    padding-top: 30px;
  }
  .right-details-content__border-countries {
    padding-top: 30px;
  }
  .right-details-content__border-countries .border-countries_head {
    padding-right: 20px;
    font-size: 1.1rem;
    font-weight: 700;
  }
}

@media (max-width: 620px) {
  .details-container {
    padding-top: 20px;
  }

  .details-container-head .back-btn {
    padding-right: 25px;
    padding-left: 25px;
  }

  .details-container-head .back-btn span {
    font-size: 0.9rem;
  }

  .no-data {
    margin-top: 50%;
  }

  .no-data h3 {
    font-size: 1rem;
  }
  .details-container-body {
    flex-direction: column;
  }

  .left-details-content .flag {
    max-height: 40vh;
    max-width: 270px;
  }
  .right-details-content__more-details {
    flex-direction: column;
  }

  .right-details-content__more-details .details-sides {
    padding-top: 30px;
    padding-left: 0;
  }
  .right-details-content__border-countries {
    padding-top: 30px;
    flex-direction: column;
    justify-content: space-between;
  }
  .border-countries_body {
    margin-left: 0;
    margin-top: 20px;
  }

  .right-details-content .country-name {
    font-size: 1.2rem;
  }

  .right-details-content__more-details h4 {
    font-size: 0.9rem;
  }
  .right-details-content__more-details h4 span {
    font-size: 0.9rem;
  }

  .right-details-content__border-countries .border-countries_head {
    padding-right: 20px;
    font-size: 0.9rem;
    font-weight: 700;
  }

  .border-countries_body .border-countries-btns .mat-raised-button {
    width: 99px;
  }
}
