.details-container {
  width: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.back-btn {
  width: 100%;
  height: 30vh;
}

.mat-raised-button {
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
  margin-left: 4%;
  width: 10%;
  height: 6vh;
  font-size: 14px;
  font-size: 16px;
  box-shadow: 0 0 6px -3px #5f5d5d;
}

.mat-raised-button span {
  margin-left: 10%;
  font-weight: 100;
  font-size: 14px;
}

.mat-raised-button .mat-icon {
  font-size: 16px;
}
.mat-icon {
  height: 16px;
  width: 20px;
  margin-left: 25%;
}

.details-container-content {
  width: 100%;
  height: 70vh;
  display: flex;
}

.details-container-left {
  width: 40%;
}

.flag {
  width: 70%;
  height: 50vh;
  margin-left: 9%;
}

.details-container-right {
  padding: 1%;
  width: 60%;
  display: flex;
  flex-direction: column;
}
.country-name {
  height: 5vh;
  width: 100%;
  font-weight: bold;
  font-family: var(--main-font);
}
.more-details {
  width: 100%;
  height: 30vh;
  display: flex;
}
.more-left {
  width: 50%;
  height: 30vh;
}
.more-right {
  width: 50%;
  height: 30vh;
}
.border-countries {
  width: 100%;
  height: 16vh;
  margin-top: 2%;
  display: flex;
}
.borders {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.border-countries span {
  width: 20%;
  font-weight: bold;
  margin-top: 1%;
  font-size: 14px;
}

.border-btns {
  width: 20%;
  height: 6vh;
  font-size: 14px;
  color: #535153;
  margin-right: 20%;
  box-shadow: 0 0 6px -3px #5f5d5d;
  font-family: var(--main-font);
}

.more-details h4 {
  font-weight: 600;
  font-family: var(--main-font);
}

.more-details span {
  font-weight: lighter;
  font-family: var(--main-font);
}

a {
  text-decoration: none;
  width: 15%;
}
.no-borders {
  width: 100%;
  margin-top: 2%;
  height: 100vh;
  align-items: center;
}
.no-data {
  width: 100%;
  margin-left: 40%;
  margin-top: 10%;
  height: 100vh;
  align-items: center;
}

@media only screen and (min-width: 300px) {
  .details-container {
    height: 150vh;
  }
  .details-container-content {
    display: flex;
    flex-direction: column;
  }

  .back-btn {
    margin-top: 20%;
    height: 13vh;
  }

  .mat-raised-button {
    width: 35%;
    font-size: 13px;
  }

  .details-container-left {
    width: 100%;
  }
  .flag {
    width: 100%;
    height: 40vh;
    margin-left: 0;
    padding: 8%;
  }

  .details-container-right {
    padding: 9%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .more-details {
    width: 100%;
    margin-bottom: 0px;
    height: 45vh;
    display: flex;
    flex-direction: column;
  }

  .more-details h4 {
    margin-bottom: 6px;
  }
  .more-left {
    width: 100%;
    flex-direction: column;
    height: 40vh;
    margin-bottom: 8%;
  }
  .more-right {
    width: 100%;
    flex-direction: column;
    height: 40vh;
  }
  .borders {
    width: 100%;
    margin-top: 5%;
    flex-wrap: wrap;
  }
  .border-countries {
    width: 100%;
    height: 10vh;
    margin-top: 2%;
    flex-direction: column;
    justify-content: space-between;
  }
  .border-countries span {
    margin-top: 10%;
    width: 100%;
    font-weight: 600;
  }
  .border-btns {
    margin-bottom: 5%;
  }
  .no-borders {
    height: 0vh;
  }
  .no-data {
    margin-left: 25%;
    margin-top: 25%;
    height: 10vh;
  }
  a {
    width: 25%;
  }
}

@media only screen and (min-width: 700px) {
  .details-container {
    height: 125vh;
  }
  .details-container-content {
    width: 100%;
    padding: 0;
    height: 115vh;
    display: flex;
  }

  .country-name {
    width: 30%;
    font-size: 35px;
    margin-left: 6%;
  }

  .details-container-right h4 {
    font-size: 20px;
  }

  .back-btn {
    margin-top: 10%;
    height: 10vh;
  }

  .mat-raised-button {
    width: 20%;
    height: 4vh;
    margin-left: 6%;
    font-size: 20px;
  }
  .mat-raised-button span {
    font-size: 20px;
  }
  .mat-raised-button .mat-icon {
    font-size: 18px;
  }

  .details-container-left {
    width: 100%;
    margin-top: 6%;
    margin-bottom: 6%;
  }
  .flag {
    width: 90%;
    margin: auto;
    height: 40vh;
    padding: 0%;
    display: block;
  }

  .details-container-right {
    width: 100%;
    height: 75vh;
    margin: 0;
    padding: 0;
  }

  .more-details {
    width: 100%;
    margin-bottom: 0px;
    height: 15vh;
    flex-direction: row;
  }

  .more-details h4 {
    margin-bottom: 6px;
  }

  .more-right {
    width: 40%;
    height: 15vh;
  }
  .more-left {
    width: 60%;
    height: 15vh;
    margin-left: 6%;
  }
  .borders {
    width: 100%;
    margin-top: 5%;
    margin-left: 6%;
    display: flex;
    flex-wrap: wrap;
  }
  .border-countries {
    width: 100%;
    height: 10vh;
    flex-direction: column;
    justify-content: space-between;
  }
  .border-countries span {
    margin-top: 3%;
    width: 100%;
    font-weight: bold;
    margin-left: 6%;
    font-size: 20px;
  }

  .no-borders {
    height: 0vh;
  }
  .no-data {
    margin-left: 25%;
    margin-top: 25%;
    height: 10vh;
  }
  .borders .border-btns {
    width: 100%;
    height: 4vh;
    font-size: 20px;
  }

  a {
    width: 20%;
    margin-right: 2%;
  }
}
