@import '~@angular/material/theming';
@include mat-core();

$mat-primary-scheme: (
  100: #fafafa,
  500: #2b3945,
  700: #2b3945,
  contrast: (
    100: #2b3945,
    500: #ffffff,
    700: #ffffff,
  ),
);
$mat-accent-scheme: (
  100: #ffe57f,
  500: #ffd740,
  700: #ffc400,
  contrast: (
    100: rgba(0, 0, 0, 0.87),
    500: rgba(0, 0, 0, 0.87),
    700: #ffffff,
  ),
);
$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);
.light-mode {
  @include angular-material-theme($app-light-theme);
  font-family: var(--main-font);
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
  span {
    color: var(--light-mode-text);
  }
  button:hover {
    background-color: #f8f4f4;
  }
  .main-header-container {
    background-color: var(--light-mode-elements);
  }

  .main-header-btns .header-btns:hover {
    background-color: var(--dark-mode-text);
  }
  .main-header-btns .header-btns span:hover {
    background-color: var(--dark-mode-text);
    color: var(--span-hover-light);
  }
  .back-btn span:hover {
    color: var(--span-hover-light);
  }
  .borders .mat-button-base span.mat-button-wrapper:hover {
    color: var(--span-hover-light);
  }
  a p {
    color: var(--light-mode-text) !important;
  }
  a p:hover {
    color: var(--span-hover-light) !important;
  }

  .mat-raised-button {
    background-color: var(--light-mode-elements);
    box-shadow: var(--box-shadow-light) !important;
  }

  .card-style {
    background-color: var(--light-mode-elements);
    box-shadow: var(--box-shadow-light);
  }
  .mat-snack-bar-container {
    background-color: rgb(155, 11, 11);
    color: var(--dark-mode-text);
  }
  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: hsl(207, 26%, 17%);
  }

  .sign-up-container .submit-btn {
    background-color: var(--dark-mode-elements);
    color: var(--dark-mode-text);
  }
  .sign-up-container .submit-btn span {
    color: var(--dark-mode-text);
  }
  .sign-up-container .submit-btn:hover {
    background-color: var(--dark-mode-background);
  }

  .sign-up-container .sign-in {
    color: var(--dark-mode-background);
    font-weight: 600;
  }

  .sign-in-container .submit-btn {
    background-color: var(--dark-mode-elements);
    color: var(--dark-mode-text);
  }
  .sign-in-container .submit-btn span {
    color: var(--dark-mode-text);
  }
  .sign-in-container .submit-btn:hover {
    background-color: var(--dark-mode-background);
  }

  .sign-in-container .sign-up {
    color: var(--dark-mode-background);
    font-weight: 600;
  }

  .sign-in-container span:hover {
    color: var(--span-hover-light);
  }

  .sign-up-container span:hover {
    color: var(--span-hover-light);
  }
  .mat-input-element {
    caret-color: var(--dark-mode-text);
  }

  .confirmation-container {
    box-shadow: var(--box-shadow-light);
    background-color: var(--light-mode-background);
  }
  .confirmation-container .confirmation-container-body .resend-btn span {
    color: var(--dark-mode-text);
  }
  .confirmation-container .confirmation-container-body .resend-btn span:hover {
    color: var(--span-hover-dark);
  }
  .page-not-found-container {
    color: var(--dark-mode-background);
  }
  .right-details-content__more-details h4 span {
    color: var(--h4-span-light);
  }

  .country-card-body .mat-card-content h2 {
    color: var(--light-mode-text);
  }
  .country-card-body .mat-card-content .country-card-details h4 {
    color: var(--light-mode-text);
  }
  .country-card-body .mat-card-content .country-card-details h4 span {
    color: var(--h4-span-light);
  }

  .filter-search-input {
    background-color: var(--light-mode-elements);
    box-shadow: var(--box-shadow-light);
  }

  .filter-search-icons {
    background-color: var(--light-mode-elements);
    color: var(--content-grey);
  }

  input {
    caret-color: var(--light-mode-text) !important;
  }
  .filter-select-container {
    background-color: var(--light-mode-elements);
    box-shadow: var(--box-shadow-light);
  }
  .mat-select-arrow-wrapper .mat-select-arrow {
    color: var(--light-mode-text);
  }
  .card-style {
    background-color: var(--light-mode-background);
  }
}

// dark mode.

$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);
.dark-mode {
  @include angular-material-theme($app-dark-theme);

  font-family: var(--main-font);
  background-color: var(--dark-mode-background);
  color: var(--dark-mode-text);
  span {
    color: var(--light-mode-elements);
    font-weight: 300;
  }
  ::placeholder {
    color: var(--placeholder-dark) !important;
    font-weight: 400;
  }

  .header span:hover {
    color: #bbb6b6;
  }
  .header {
    background-color: var(--dark-mode-background);
  }

  .input {
    background-color: var(--dark-mode-elements);
  }

  .mat-toolbar {
    background-color: var(--dark-mode-elements);
  }
  .mat-select {
    background-color: var(--dark-mode-elements);
  }
  .mat-option {
    background-color: var(--dark-mode-elements);
  }
  .mat-raised-button {
    background-color: var(--dark-mode-elements);
  }
  .mat-autocomplete-trigger {
    background-color: var(--dark-mode-elements);
  }
  .mat-autocomplete-trigger {
    color: var(--dark-mode-text);
  }

  .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background: var(--dark-mode-background);
  }
  .mat-select-panel:hover {
    background: var(--dark-mode-background);
  }
  .mat-option.mat-active {
    background-color: var(--dark-mode-elements);
  }
  .mat-option .mat-selected:hover {
    background-color: var(--dark-mode-background);
  }

  .mat-autocomplete-panel:hover {
    background-color: var(--dark-mode-background);
  }
  .mat-snack-bar-container {
    background-color: rgb(155, 11, 11);
    color: var(--dark-mode-text);
  }
  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: hsl(0, 0%, 98%);
  }

  .auth .auth-btn {
    background-color: var(--dark-mode-background);
    box-shadow: 0 0 6px -3px #202c37 !important;
  }

  .header .auth a {
    background-color: var(--dark-mode-background);
  }

  .navbar-dark-mode button {
    background-color: var(--dark-mode-background);
    box-shadow: 0 0 6px -3px #202c37 !important;
  }
  .header .navbar-dark-mode a {
    background-color: var(--dark-mode-background);
  }
  .form-title {
    color: var(--dark-mode-text) !important;
  }

  .form .mat-form-field .mat-form-field-infix {
    color: var(--dark-mode-text);
  }

  .sign-up-container p {
    color: hsl(0deg 0% 100% / 50%);
  }

  .btn-confirmation {
    background-color: var(--dark-mode-background) !important;
  }

  .sign-in-container span:hover {
    color: var(--span-hover-dark);
  }

  .sign-up-container span:hover {
    color: var(--span-hover-dark);
  }
  .mat-input-element {
    caret-color: var(--dark-mode-text);
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: var(--dark-mode-text);
  }

  .main-header-container {
    background-color: var(--dark-mode-elements);
  }
  .main-header-btns .header-btns {
    color: var(--dark-mode-text);
  }
  .main-header-btns .header-btns:hover {
    background-color: var(--dark-mode-elements) !important;
  }
  .main-header-btns .header-btns span:hover {
    background-color: var(--dark-mode-elements) !important;
    color: var(--span-hover);
  }
  .back-btn span:hover {
    color: var(--span-hover-dark);
  }
  .borders span:hover {
    color: var(--span-hover-dark) !important;
  }
  a p {
    color: var(--dark-mode-text);
  }
  a p:hover {
    color: var(--span-hover-dark);
  }

  .confirmation-container {
    box-shadow: var(--box-shadow-light);
    background-color: var(--dark-mode-elements);
  }
  .confirmation-container .confirmation-container-body .resend-btn {
    background-color: var(--dark-mode-background);
  }
  .confirmation-container .confirmation-container-body .resend-btn span:hover {
    color: var(--span-hover-dark);
  }

  .page-not-found-container {
    color: var(--dark-mode-text);
  }
  .right-details-content__more-details h4 span {
    color: var(--h4-span-dark);
  }

  .country-card-body .mat-card-content h2 {
    color: var(--dark-mode-text);
  }
  .country-card-body .mat-card-content .country-card-details h4 {
    color: var(--dark-mode-text);
  }
  .country-card-body .mat-card-content .country-card-details h4 span {
    color: var(--h4-span-dark);
  }

  .filter-search-input {
    background-color: var(--dark-mode-elements);
    box-shadow: var(--box-shadow-light);
  }

  .filter-search-icons span.material-icons {
    background-color: var(--dark-mode-elements);
    color: var(--dark-mode-text);
  }
  .filter-select-container {
    background-color: var(--dark-mode-elements);
    box-shadow: var(--box-shadow-light);
  }
  .mat-select-value .mat-select-placeholder {
    color: var(--placeholder-dark) !important;
  }
  .card-style {
    background-color: var(--dark-mode-elements);
    box-shadow: 2px 2px 2px rgba(247, 245, 245, 0);
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: var(--main-font);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-white: #ffffff;
  --main-black: #000000;
  --dark-mode-elements: hsl(209, 23%, 22%);
  --dark-mode-background: hsl(207, 26%, 17%);
  --dark-mode-text: hsl(0, 0%, 100%);
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-background: hsl(0, 0%, 98%);
  --light-mode-elements: hsl(0, 0%, 100%);
  --content-grey: #636d73;
  --content-blue-green: #3a5a6e;
  --border-white: #fafbfd;
  --main-font: 'Nunito Sans', sans-serif;
  --box-shadow-light: 0 0 6px -3px #858585;
  --card-shadow: 2px 2px 2px #00000014;
  --input-border: #a2c0d4;
  --span-hover-dark: hsl(211, 40%, 83%);
  --span-hover-light: hsl(210, 25%, 39%);
  --h4-span-light: #000000c7;
  --h4-span-dark: #ffffffc7;
  --placeholder-dark: #ebe6e6;
}

.mat-autocomplete-panel {
  border: none !important;

  .mat-select-panel {
    width: 75%;
    margin-top: 20%;
  }
}

.mat-autocomplete-trigger:focus {
  outline: 0px;
}

.no-data {
  color: var(--content-grey);
}
.no-borders {
  color: var(--content-grey);
}
.mat-spinner {
  margin: 0 auto;
  margin-top: 10%;
}
.err span {
  color: rgb(233, 104, 104);
}

.mat-simple-snackbar span {
  color: var(--dark-mode-text);
}

.padding-container {
  padding-left: 5.5rem;
  padding-right: 5.5rem;
}

.mat-select-value {
  font-family: var(--main-font);
  font-size: 0.9rem;
  max-width: none !important;
}

.material-icons {
  font-size: 1.2rem;
}

.mat-select-arrow-wrapper {
  padding-left: 40px !important;
}

.mat-autocomplete-panel {
  overflow: hidden !important;
}
@media (min-width: 1900px) {
  .material-icons {
    font-size: 2rem;
  }
}
@media (max-width: 1024px) {
  .material-icons {
    font-size: 1.5rem;
  }
}
@media (max-width: 992px) {
  .padding-container {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

@media (max-width: 768px) {
  .padding-container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (max-width: 620px) {
  .padding-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .material-icons {
    font-size: 1.1rem;
  }
}
