<div class="confirmation-container padding-container">
  <h3 class="confirmation-container-header">Thank You for Signing up</h3>
  <div class="confirmation-container-body">
    <p class="confirmation-container-body_msg">
      Confirmation mail has been sent, Please check your email to sign in
    </p>
    <button
      mat-raised-button
      color="primary"
      class="resend-btn"
      (click)="ngAuthService.sendVerificationMail()"
    >
      Resend Verification Email
    </button>
  </div>
</div>
